<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Replace the value below with your AoC session cookie value -->
    <add key="SessionKey" value="" />
  </appSettings>
</configuration>