<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Replace the value below with your AoC session cookie value -->
    <add key="SessionKey" value="53616c7465645f5ff640a5d9011b9edf0b6fdba64997264ff144c32d3cec70665e17b63ce84b0068c4f33f982d14f1e76ee13c70522717cfa68465ae9e4aab4d" />
  </appSettings>
</configuration>